<h1>Listes des résidences</h1>

<div class="row" *ngFor="let res of listResidences">
<div class="card" style="width: 18rem;">
    <img [src]="res.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">{{res.name}}</h3>
      <h3 *ngIf="res.status==='Disponible=> [style.color]='red'" class="card-text">{{res.status}}</h3>
      <a href="#" class="btn btn-primary" (click)="showLocation(res.address)">Show location</a>
      <div><h2>{{address}}</h2></div>

    </div>
  </div>
</div>